@use './mixin';

body{
   @include mixin.impostaMarginPadding(0,0);
   font-size: 1em;
   line-height:1.3;
}

ul{
   @include mixin.impostaMarginPadding(0, 0);
   list-style: none;
}

img {
   width: 400px;
}

figure {
   display: inline-block;
}

